

.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel-header {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    width: fit-content;
    margin: auto;
}

.carousel-p {
    color: black;
    font-family: cursive;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: auto;
    font-weight: bold;
    width: fit-content;
}

.rounded-image {
    border-radius: 40%;
}

.colored-nav {
    background-color: #e7dede;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.nav-item {
    margin: 0px 5px 0px 5px;
    font-size: 20px;
}


.site-footer
{
  background-color:#e7dede;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#181818;
  border-top: 1px solid rgb(167, 167, 167);
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#555;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#555
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.column-margin {
    margin-left: 100px;
}


.team-member-card {
  background-color: #e7dede;
}

.product-card {
  background-color: #e7dede;
}

.calendar {
  display: inline-block;
}

.booking-panel {
  display: inline-block;
  width: fit-content;
}

.calendar-date {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}


.calendar-date-box {
  margin: 10px;
}


.calendar-topbar {
  background-color: #e7dede;
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
}


.calendar-body {
  padding: 10px;
}


.calendar-day-cell {
  background-color: #e7dede;
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  width: 100%;
}

.calendar-day-cell-selected {
  background-color: #e7dede;
  padding: 10px;
  width: 100%;
  border: 1px outset #29aafe;
  box-shadow: inset 0 0 5px #29aafe;
}

.current-day-number {
  font-weight: bold;
  border: 1px solid #29aafe;
  border-radius: 40%;
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 5px #29aafe;
}

.calendar-body-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}


.book-button {
  background-color: #33353d;
  border: 2px solid #007bb6;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: auto;
}


